.header {
  background-color: #6e6e6e;
  color: #f8f8f8;
  font-family: Teko , sans-serif;
  font-weight: 500;
  letter-spacing: 0.063rem;
  line-height: 1.563rem;
}

.header th {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.188rem 0.625rem;
}

.table-line {
  background-color: #d9d9d9;
  color: #2b2b2b;
  font-family: Teko , sans-serif;
  font-weight: 300;
  letter-spacing: 0.031rem;
  padding: 0.625rem;
  text-align: center;
}

.planet-name {
  font-family: Teko , sans-serif;
  font-weight: 500;
  letter-spacing: 0.063rem;
}
